  <%= render "shared/errors", obj: @user %>
  <div class="row">
    <div class="col-sm-12">
      <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |f|%>
      
        <div class="form-group">
            <div class="col-sm-3 control-label"><%= f.label :username %></div>
            <div class="col-sm-6"><%= f.text_field :username, class: "form-control", autofocus: true %></div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label"><%= f.label :email %></div>
            <div class="col-sm-6"><%= f.email_field :email, class: "form-control" %></div>
        </div>
        <div class="form-group">
            <div class="col-sm-3 control-label"><%= f.label :password %></div>
            <div class="col-sm-6"><%= f.password_field :password, class: "form-control" %></div>
        </div> 
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-3"><%= f.submit(@user.new_record? ? "Sign Up" : "Update Account" , class: "btn btn-primary btn-medium") %></div>
        </div>
      <% end %>
    </div>
  </div>